[Desktop Entry]
Encoding=UTF-8
Name=Eclipse IDE
Comment=Design Java Apps
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Categories=Development;IDE
Version=2022-03 R
Type=Application
Terminal=0
