
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR(address)=="52:54:00:d9:a8:1d"
, ATTR(dev_id)=="0x0", ATTR(type)=="1", KERNEL=="ens", NAME="ens3"
